@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container,
footer {
  background-color: #006853;
}
.nav-container a,
footer a {
  color: #fff;
}

header,
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
header .logo,
.footer-container .logo {
  color: #00e091;
  font-weight: 700;
  font-size: 2rem;
}
header ul,
.footer-container ul {
  display: flex;
}
header ul a,
.footer-container ul a {
  display: block;
  padding: 0 1rem;
}

.social-media,
.hero svg {
  display: none;
}

.hero {
  background-color: #00735c;
  color: #fff;
  display: grid;
  text-align: center;
  padding: 4rem;
}

.btn-cta {
  border: none;
  border-radius: 0.8rem;
  padding: 0.5rem 1rem;
  background-color: #e5a298;
  color: #333;
  font-weight: 600;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 2rem;
  transition: all 1s;
}
.btn-cta:hover {
  background-color: #00e091;
}

section {
  padding: 4rem 2rem;
  text-align: center;
}
section .subheading {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
}
section .title {
  color: #006853;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: -0.7rem;
  display: block;
}
section .description {
  color: #3b3b3b;
  margin-bottom: 3rem;
  font-size: 0.9rem;
  line-height: 1.6rem;
  font-weight: 500;
}

.about {
  position: relative;
  max-width: 70%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #c1d9b7;
  z-index: -1;
}

.educations {
  background-color: #e5a298;
}
.educations .title {
  color: black;
}

.education {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 1rem 2rem 0 rgba(229, 162, 152, 0.6705882353);
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.education .icon-container {
  height: 15rem;
  display: grid;
  place-items: center;
  margin: 0 auto;
}
.education .icon-container.one {
  width: 10rem;
  opacity: 0.7;
}
.education .icon-container.two, .education .icon-container.tree {
  width: 100%;
  height: 100%;
}

.projects {
  background-color: #f7f7f7;
}

.projects-container {
  margin-bottom: 4rem;
}
.projects-container .projects-left {
  margin-bottom: 4rem;
}
.projects-container img {
  border-radius: 1rem;
  margin-top: 1rem;
}
.projects-container .btn-container {
  display: inline;
}
.projects-container .btn-container i {
  color: #e5a298;
  font-size: 1.4rem;
  padding-right: 1rem;
}
.projects-container .btn-container i:hover {
  color: #00e091;
}

.contact {
  position: relative;
}

.contact::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #c1d9b7;
  z-index: -1;
}

footer .hero-design {
  display: none;
  transition: all 1s;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1.5s;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.education:nth-child(1) {
  transition-delay: 200ms;
}

.education:nth-child(2) {
  transition-delay: 400ms;
}

.education:nth-child(3) {
  transition-delay: 600ms;
}

#rosa {
  -webkit-animation: rosa-dott 2s ease-in-out;
          animation: rosa-dott 2s ease-in-out;
}

#green {
  -webkit-animation: green-dott 2s ease-in-out;
          animation: green-dott 2s ease-in-out;
}

#hero-design {
  -webkit-animation: slide 1s ease-in-out;
          animation: slide 1s ease-in-out;
}

@-webkit-keyframes rosa-dott {
  20% {
    transform: translateX(-500%);
  }
  70% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(-3%);
  }
}

@keyframes rosa-dott {
  20% {
    transform: translateX(-500%);
  }
  70% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(-3%);
  }
}
@-webkit-keyframes green-dott {
  20% {
    transform: translateX(500%);
  }
  70% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(3%);
  }
}
@keyframes green-dott {
  20% {
    transform: translateX(500%);
  }
  70% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(3%);
  }
}
@-webkit-keyframes slide {
  from {
    transform: scale(0);
    filter: blur(5px);
  }
  to {
    transform: scale(1);
    filter: blur(0);
  }
}
@keyframes slide {
  from {
    transform: scale(0);
    filter: blur(5px);
  }
  to {
    transform: scale(1);
    filter: blur(0);
  }
}
@media (prefers-reduced-motoon) {
  .hidden {
    transition: none;
  }
}
@media only screen and (min-width: 850px) {
  header {
    padding: 0 4rem;
  }
  .about,
.projects {
    text-align: left;
  }
  .about-container {
    max-width: 55%;
    margin: 0 auto;
  }
  .projects-container {
    display: grid;
    grid-template-columns: 40% auto;
  }
  .left {
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .educations {
    margin-bottom: -10rem;
    padding-top: 10rem;
  }
  .educations-container ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  .projects-container {
    margin-top: 6rem;
  }
  .projects-container img {
    margin-left: 2rem;
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .projects-container:nth-child(2) {
    grid-template-columns: auto 40%;
    place-items: start;
  }
  .projects-container:nth-child(2) img {
    margin-left: 0;
    float: left;
  }
  .projects-container:nth-child(2) .right {
    margin-right: 2rem;
    margin-left: 0;
    grid-column: 1;
    grid-row: 1;
  }
  .projects-container:nth-child(2) .right a {
    margin-left: 0;
  }
  .projects-container:nth-child(2) .left {
    grid-column: 2;
    grid-row: 1;
  }
}
@media only screen and (min-width: 1050px) {
  header {
    padding-left: 6rem;
  }
  .hero {
    height: 90vh;
  }
  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background-color: #006853;
  }
  .social-media {
    padding-right: 6rem;
    display: block;
  }
  .social-media ul {
    display: flex;
    justify-content: space-between;
    width: 4rem;
    float: right;
  }
  section {
    padding: 4rem;
  }
  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background-color: #00735c;
    padding: 6rem 8rem 6rem 4rem;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3rem;
  }
  .hero .hero-design {
    display: unset;
    margin-top: -5%;
    margin-left: -56%;
    width: 100%;
  }
  .projects img {
    float: right;
    max-width: 500px;
  }
}
@media only screen and (min-width: 1250px) {
  header {
    padding-left: 10rem;
  }
  .social-media {
    padding-right: 10rem;
  }
  section {
    padding: 10rem 10rem 4rem 10rem;
  }
  .hero .content {
    padding: 6rem 8rem 6rem 10rem;
  }
}
@media only screen and (min-width: 1550px) {
  header {
    padding-left: 20rem;
  }
  .social-media {
    padding-right: 20rem;
  }
  section {
    padding: 10rem 20rem 4rem 20rem;
  }
  .hero .content {
    padding: 9rem 20rem 6rem 20rem;
  }
  .hero-design {
    margin-left: -60%;
  }
}/*# sourceMappingURL=main.css.map */